* {
  margin: 0;
  padding: 0;
}

.inner {
  width: 1000px;
  margin: 0 auto;
}

h1 {
  display: flex;
}

header {
  background-color:green;
}

nav ul {
  display: flex;
  justify-content: space-between;

  li {
    width: 100%;
    a {
      display: block;
      padding: 20px 0;
      text-align: center;

      &:hover {
        opacity: 0.7;
        background-color: grey;
      }
    }
  }
}